/*CSS Global*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html{
	scroll-behavior: smooth;
}

body{
	background: url(../img/bg.png);
}

.navbar-nav .nav-item a:hover{
	color: #c04245;
}

.navbar-nav a{
	color: black;
	font-weight: bold;
	transition: all .2s ease .1s;
	font-size: 17px;
}

.navbar-toggler span img{
	width: 20px;
	height: 20px;
}

.select-box{
	width: 300px;
	position: relative;
	margin-left: 30px;
}

.select-box select{
	height: 42px;
	padding: 10px 15px;
	line-height: 20px;
	font-size: 16px;
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid #ccc;
	border-radius: 8px;
	cursor: pointer;
	transition: .10s all ease;

}

.select-box:after{
	content: "\25bc";
	position: absolute;
	right: 10px;
	top: 25%;
	margin-top: -5px;
	cursor: pointer;
	pointer-events: none;
}

.footer{
	background-color: #d4d4d4;
	min-height: 200px;
    padding-top: 40px;
    margin-top: 100px;
    padding-bottom: 10px;	
}

.footer img{
	width: 100px;
}

.title-footer{
	font-weight: 900;
}

.icon-sosmed img{
	width: 50px;
	margin-top: 10px;
}

#footer-paragraf p{
	font-size: 16px;
	font-weight: 900;
	display: inline-block;
}

#footer-paragraf svg{
	font-size: 30px;
}

.footer-text{
	font-size: 20px;
	font-weight: 500;
}

.copyright{
	background-color: #bdbdbd;
	height: 30px;
	color: #121212;
}

.copyright h1{
	text-align: center;
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.copyright a{
	font-weight: 700;
	text-decoration: none;
	color: #121212;
}

.copyright a:hover{
	color: #000;
}



/*CSS File Index*/
.carousel-inner img{
	height: 660px;
}

.carousel-inner h5{
	font-size: 30px;
	font-weight: bold;
}
	
#head h1{
	text-align: center;
	padding-bottom: 20px;
	font-weight: bold;
}

.bg-transparant {
    background: transparent !important;
    transition :0.50s ease;
}
.bg-transparant.scroll{
    background: white !important;
}

.bg-transparant.scroll a:hover{
	background-color: #d6d4d4 !important;
}

#card-index{
	padding-top: 20px;
	width: 400px;
	margin: auto;
	background-color: rgba(255,255,255,.3);
	box-shadow: 0 0 4px 3px grey;
	border-radius: 3%;
}

#card-index img{
	width: 100px;
}

#card-index p{
	font-weight: bold;
	font-size: 17px;
}


.container-fluid .carousel-inner img{
	height: 300px;
	border: 1px solid black;
}

.container-fluid .carousel-inner{
	padding-top: 20px;
}

.container-fluid .carousel-inner h4{
	font-weight: bold;
}

.container-fluid h1{
	text-align: center;
	font-weight: 900;
	padding-top: 40px;
}

.row .col-sm-12 .card{
	box-shadow: 0 0 4px 3px grey;
	margin: auto;
}

.about-us h1{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 20px;
	font-weight: bold;
}

.card-deck{
	margin: auto;
	width: 75%;
}

.card-deck .card img{
	height: 300px;
	width: 300px;
	margin: auto;
}

.card-footer{
	text-align: center;
}

.card-deck .card-footer img{
	margin: 15px;
	width: 50px;
	height: 50px;
}




/*CSS File Provinsi*/
.jumbotron {
  padding-top: 10rem;
  padding-bottom: 3rem;
  margin-bottom: 0;	
  height: 600px;
  color: white;
}


.jumbotron p{
	font-weight: 800;
	padding-bottom: 20px;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 900;
  padding-top: 20px;
}

.jumbotron #container-provinsi {
  max-width: 40rem;
  background-color: rgba(0,0,0,0.4);
  height: auto;
}

.col-md-6 img{
	height: 280px;
}

.col-md-6 .card-title{
	font-weight: 700;
}


/*CSS file review*/
#jumbo-review{
	background: url(../img/bg-review.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbo-text{
	max-width: 40rem;
	background-color: rgba(0,0,0,0.4);
	border-radius: 4%;
	padding-left: 20px;
}

.jumbotron-review .jumbotron a{
	margin-top: 30px;
}

#review{
	margin-top: 50px;
}

#review .card img{
	height: 200px;
}

/*CSS File Wisata*/
.media img{
	width: 70px;
	height: 50px;
}
.media-body p{
	border: solid 1px grey;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;

}
.media-body a{
	font-size: 15px;
}
.kolom-komentar{
	width: 100px;
	height: 30px;
	border: solid 2px grey;
	border-radius: 10px;
	
}
.form-ulasan{
	width: 320px;
	height: auto;
	margin: 5px;
	background-color: none;
	border: solid 2px grey;
	border-radius: 20px;
	opacity: 1.0;
}
.form-ulasan h4{
	margin: 10px;
}
.form-komentar{
	width: 320px;
	height: 400px;
	background-color: none;
	border: solid 2px grey;
	border-radius: 20px;
	opacity: 1.0;
}
.form-komentar-kolom{
	width: 250px;
	height: 30px;
	border: solid 2px grey;
	border-radius: 20px;
}
.form-komentar-text{
	width: 250px;
	height: 50px;
	border: solid 2px grey;
	border-radius: 20px;

}
.google-maps {
  position: relative;
  padding-bottom: 75%; 
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/*media query*/
@media screen and (max-width:680px){
	.select-box{
		margin-left: -3px;
		margin-top: 10px;
	}
	.col-md-4{
		margin-top: 50px;
	}
	.title-footer{
		margin-top: 20px;
		text-align: center;
	}
	.icon-sosmed{
		text-align: center;
	}
	.col-md-3{
		text-align: center;
	}
	#jumbo-review{
		background-position-x: -170px; 
	}
}
